body {
    padding-top:70px;
}

.alerts {
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: .85;
    padding: 0 10%;
}

#quick-search.open {
    border-bottom-left-radius:0;
}

#button-advanced-search.open {
    border-bottom-right-radius:0;
}

#advanced-search-container.open {
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-top:none;
}
