<div class="row">
    <div class="col-sm-8">
        <div class="input-group">
            <input id="quick-search" ng-model="searchText" placeholder="Search..."
                ng-class="{'open_':showAdv}" class="form-control" tabindex="1"/>
            <div class="input-group-btn">
                <button id="clear-search" class="btn btn-default" type="button"
                    ng-click="searchText = null"><span class="glyphicon glyphicon-remove"></span></button>
                <button id="button-advanced-search" class="btn btn-default" type="button"
                    ng-click="showAdv = !showAdv">Advanced <small><span class="glyphicon"
                        ng-class="{'glyphicon-triangle-bottom': !showAdv, 'glyphicon-triangle-top': showAdv}"></span>
                    </small></button>
            </div>
        </div>
    </div>

    <div class="col-sm-2 form-group">
        <form ng-submit="showDefect(gotoDefect)">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-disabled="!gotoDefect" type="button" ng-click="showDefect(gotoDefect)">Go to defect #</button>
                </span>
                <input id="defect-goto" placeholder="83" class="form-control" ng-model="gotoDefect" tabindex="2"/>
            </div>
        </form>
    </div>

    <div class="col-sm-2 form-group">
        <button type="button" class="btn btn-default btn-block" ng-click="getDefects()" tabindex="3" title="Refresh">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> {{(defects.length || 0)}} defects
        </button>
    </div>
</div>

<div id="advanced-search-container" class="panel panel-default" ng-show="showAdv">
    <div class="panel-body">
        <form class="form" name="searchForm" role="form">
            <div ng-show="false" class="row">
                <div class="col-sm-2 form-group">
                    <label for="severity">Assigned to</label>
                </div>

                <div class="col-sm-4 form-group">
                    
                </div>

                <div class="col-sm-4 form-group">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="status">Status</label>
                    <select name="status" class="form-control" multiple ng-model="searchFilters.query.status"
                            ng-options="status for status in fields.status.Values">
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label for="priority">Priority</label>
                    <select name="priority" class="form-control" multiple ng-model="searchFilters.query.priority"
                            ng-options="priority for priority in fields.priority.Values">
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label for="severity">Severity</label>
                    <select name="severity" class="form-control" multiple ng-model="searchFilters.query.severity"
                            ng-options="severity for severity in fields.severity.Values">
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label for="severity">Assigned to</label>

                    <ui-select ng-model="searchFilters.query.owner" ng-disabled="disabled"
                            reset-search-input="false" on-select="">
                        <ui-select-match placeholder="User...">
                            <img class="select-match-image" ng-src="{{$select.selected.gravatar}}">{{$select.selected.fullname}}
                        </ui-select-match>
                        <ui-select-choices repeat="user.id as user in Users.usersArr | filter: $select.search">
                            <div class="media">
                              <div class="media-left">
                                  <img class="media-object select-choice-image" ng-src="{{user.gravatar}}">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading" ng-bind-html="(user.fullname | highlight: $select.search) || user.id"></h4>
                                <small>{{user.email}}</small>
                              </div>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                    
                    <div class="btn-group btn-group-justified search-owner-preset" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-class="{'btn-primary': (searchFilters.query.owner == null)}" ng-click="searchFilters.query.owner = null"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-class="{'btn-primary': (searchFilters.query.owner == loggedInUser)}" ng-click="searchFilters.query.owner = loggedInUser">Me</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-class="{'btn-primary':searchFilters.query.owner==''}" ng-click="searchFilters.query.owner = ''">None</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Sort</label><br/>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn" ng-class="sortButtons.id.btn" ng-click="sort('id')">
                            <span class="glyphicon" ng-class="sortButtons.id.icon" aria-hidden="true"></span> Id</button>

                        <button type="button" class="btn" ng-class="sortButtons['last-modified'].btn" ng-click="sort('last-modified')">
                            <span class="glyphicon" ng-class="sortButtons['last-modified'].icon" aria-hidden="true"></span> Last Modified</button>

                        <button type="button" class="btn" ng-class="sortButtons.severity.btn" ng-click="sort('severity')">
                            <span class="glyphicon" ng-class="sortButtons.severity.icon" aria-hidden="true"></span> Severity</button>

                        <button type="button" class="btn" ng-class="sortButtons.priority.btn" ng-click="sort('priority')">
                            <span class="glyphicon" ng-class="sortButtons.priority.icon" aria-hidden="true"></span> Priority</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-primary" ng-click="getDefects()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
                    <button class="btn btn-success" ng-disabled="searchForm.$pristine" ng-click="saveFilters()">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
                    <button class="btn btn-default" ng-disabled="searchForm.$pristine" ng-click="resetSearchFilters()">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table id="defect-list" ng-show="defects" data-provides="rowlink" class="table table-hover">
    <thead>
        <tr>
            <th class="sortable" ng-click="sort('id')">#<span ng-show="sortFilters.param=='id'"> {{sortFilters.reverse?'&darr;':'&uarr;'}}</span></th>
            <th>Description</th>
            <th>Status</th>
            <th class="sortable" ng-click="sort('priority')">Priority<span ng-show="sortFilters.param=='priority'"> {{sortFilters.reverse?'&darr;':'&uarr;'}}</span></th>
            <th class="sortable" ng-click="sort('severity')">Severity<span ng-show="sortFilters.param=='severity'"> {{sortFilters.reverse?'&darr;':'&uarr;'}}</span></th>
            <th>Assigned To</th>
            <th><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></th>
            <th><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></th>
            <th class="sortable" ng-click="sort('last-modified')"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span ng-show="sortFilters.param=='last-modified'"> {{sortFilters.reverse?'&darr;':'&uarr;'}}</span></th>
        </tr>
    </thead>

    <tbody>
        <tr class="defect-list-item"
            ng-repeat="defect in filteredDefects = (defects | filter: searchText | orderBy:sortFilters.predicate:sortFilters.reverse)"
            ng-click="showDefect(defect.id)">
            <td>{{defect.id}}</td>
            <td>
                <p><b>{{defect.name}}</b></p>
                <p ng-bind-html="defect.description | html2text | hellip: 100"></p>
            </td>
            <td ng-class="defect.statusClass">{{defect.status}}</td>
            <td><span class="{{getPriorityIcon(defect.priority)}}" aria-hidden="true"></span> {{defect.priority | cleanField}}</td>
            <td><span class="{{getSeverityIcon(defect.severity)}}" aria-hidden="true"></span> {{defect.severity | cleanField}}</td>
            <td class="defect-list-owner">
                <div class="media" ng-show="defect.owner">
                  <div class="media-left media-middle">
                      <img class="media-object" ng-src="{{Users.getUser(defect.owner).gravatar}}">
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading">{{Users.getName(defect.owner)}}</h4>
                  </div>
                </div>
                <span class="defect-list-unassigned" ng-show="!defect.owner">Not assigned</span>
            </td>
            <td><span ng-show="defect.attachment" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></td>
            <td><span ng-show="defect['dev-comments']" class="glyphicon glyphicon-comment" aria-hidden="true"></span></td>
            <td class="defect-list-lastmodified" title="{{defect['last-modified']}}"><span am-time-ago="defect['last-modified']"></span></td>
        </tr>
    </tbody>
</table>

<h1 ng-show="!defects || defects.length == 0">Sorry, there isn't any defect matching your query</h1>

<nav ng-show="totalPages.length > 1">
  <ul class="pagination">
    <li ng-class="{'disabled':currentPage==1}">
      <a href="" aria-label="Previous" ng-click="setPage(currentPage-1)" ng-class="{'disabled':currentPage==1}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="i in totalPages track by $index" ng-class="{'active':$index+1 == currentPage}"><a href="" ng-click="setPage($index+1)">{{$index+1}}</a></li>
    <li ng-class="{'disabled':currentPage==totalPages.length}">
      <a href="" aria-label="Next" ng-click="setPage(currentPage+1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
