<h1 ng-show="newDefect">New Defect</h1>
<h1 ng-show="!newDefect">#{{defect.id}} {{defect.name}}</h1>

<form id="defect-edit" name="defectedit">
    <div class="form-group">
        <label class="control-label">Summary</label>
        <textarea class="form-control" ng-model="defect.name"></textarea>
    </div>

    <div class="form-group">
        <label class="control-label">Description</label>
        <!--<textarea class="form-control" ng-model="defect.description"></textarea>-->
        <div text-angular ta-toolbar="{{toolbar}}" ng-model="defect.description"></div>
    </div>

    <div class="form-group">
        <label class="control-label">{{fields['detection-version'].Label}}</label>
        <select class="form-control" ng-model="defect['detection-version']" ng-options="ver for ver in fields['detection-version'].Values">
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Assigned To</label>
        <ui-select ng-model="defect.owner"
                theme="bootstrap"
                ng-disabled="disabled"
                reset-search-input="false"
                style="width: 300px;">
            <ui-select-match placeholder="User...">{{$select.selected.fullname}}</ui-select-match>
            <ui-select-choices repeat="user.id as user in users | filter: $select.search">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" ng-src="{{user.gravatar}}&s=32">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading" ng-bind-html="(user.fullname | highlight: $select.search) || user.id"></h4>
                    <small>{{user.email}}</small>
                  </div>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
        <label class="control-label">{{fields.status.Label}}</label>
        <select name="status" class="form-control" ng-model="defect.status"
                ng-options="status for status in fields.status.Values">
        </select>
    </div>

    <div class="form-group" ng-show="defect.status == 'Fixed'">
        <label class="box-label">Fixed in build</label>
        <input class="form-control" ng-model="defect['user-46']" />
    </div>

    <div class="form-group">
        <label class="control-label">{{fields.severity.Label}}</label>
        <select name="severity" class="form-control" ng-model="defect.severity"
                ng-options="sev for sev in fields.severity.Values">
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">{{ fields['user-01'].Label }}</label>
        <select name="severity" class="form-control" ng-model="defect['user-01']"
                ng-options="sev for sev in fields['user-01'].Values" multiple>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">{{ fields['user-03'].Label }}</label>
        <select name="severity" class="form-control" ng-model="defect['user-03']"
                ng-options="val for val in fields['user-03'].Values">
        </select>
    </div>

    <div class="form-group">
        <button ng-show="!newDefect" ng-click="save(defect)" class="btn btn-primary">Save</button>
        <button ng-show="newDefect" ng-click="createDefect(defect)" class="btn btn-primary">Create</button>
    </div>
</form>
