<div class="page-header">
    <h1>Settings</h1>
</div>

<form name="settingsForm" novalidate>
    <div class="form-group" ng-class="{'has-error':settingsForm.serverAddress.$invalid}">
        <label for="serverAddress" class="control-label">Server address</label>
        <input class="form-control" type="url" ng-model="settings.serverAddress" name="serverAddress"
            required autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false" placeholder="https://"/>
    </div>

    <div class="form-group">
        <label>Account</label>
        <input name="username" ng-model="settings.username" type="text" class="form-control" placeholder="username"/>
    </div>

    <div class="form-group">
        <input name="password" ng-model="settings.password" type="password" class="form-control" placeholder="password"/>
    </div>

    <div class="checkbox" ng-show="false">
        <p><b>Remember project</b></p>
        <label>
            <input type="checkbox" ng-model="settings.rememberProject">
            Remeber last visited project
        </label>
    </div>

    <div class="form-group">
        <label>Version</label>
        <input ng-model="version" type="text" class="form-control" disabled/>
    </div>

    <button type="submit" class="btn btn-success" ng-click="saveSettings(settings)"
        ng-disabled="settingsForm.$invalid || settingsForm.$pristine">Save</button>
</form>
